.show-currency-wrapper {
  padding: 10px 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.show-currency {
  position: relative;
  padding: 0 5px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  transition: background-color 0.2s;
  min-width: 95px;
  min-height: 30px;
  overflow: visible;
}
