@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.currenciesApp {
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(163, 163, 163, 1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: 200px auto;
}

.show-currency-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.show-currency {
  position: relative;
  padding: 5px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  transition: background-color 0.2s;
  min-width: 90px;
  min-height: 30px;
  overflow: visible;
}

.choise-currency-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.choise-currency {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding: 5px;
  margin: 10px;
  background-color: rgba(232, 232, 232, 1);
  border: 1px solid rgba(163, 163, 163, 1);
  color: rgba(48, 48, 48, 1);
  cursor: pointer;
  min-width: 90px;
  transition: background-color 0.2s;
  display: flex;

  &:hover {
    background-color: rgba(211, 211, 211, 1);
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.activeChoise {
  background-color: rgba(255, 255, 255, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

.choise-currency__checkbox {
  font-size: 12px;
  font-weight: 500;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(163, 163, 163, 1);
  border-radius: 5px;
  color: transparent;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.red {
  color: red;
}

.choise-currency__name {
  margin-left: 5px;
}
